.client-logo {
  width: 50px;
}

li.project {
    display: inline-block;
    margin-right: 17px;
    margin-bottom: 17px;
}

li.project a:hover {
    text-decoration: none;
}

.secondary-item {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
}

.secondary-item img {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.site-header {
    background: white;
    position: fixed;
    width: 100%;
}

article,.home {
    margin-top: 60px;
}

.greeting, .projects {
    margin-bottom: 50px;
}

